@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'EuropeExtendedC';
  src: url('../fonts/EuropeExtendedC.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EuropeExtendedC';
  src: url('../fonts/europeextendedc_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

$dark-blue: #04011F;
$gray: #D9D9D9;

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 16px;
}

.no-filter {
    filter: none !important;
}

.fw-500 {
    font-weight: 500;
}

b {
    font-size: 24px;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    opacity: 1;
}

ul {
    list-style-type: none;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: "EuropeExtendedC", sans-serif;
}

.h2-line {
    position: relative;
    
     span {
        background-color: white;
        padding-right: 10px;
    }


    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.6em;
        border-top: 4px solid black;
        z-index: -1;
    }
}

.img-container {
    position: relative;
    width: 100%;
    height: 652px;
    overflow: hidden;

    .background-image {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 1000;
    background: transparent;

    .logo {
        max-height: 38px;
    }
}

.border-radius-73px {
    border-radius: 73px;
}

.btn {
    &.round {
        border-radius: 50px;
        padding: 7.5px 15px;
        font-weight: 500;
        font-size: 20px;
    }
    &.green {
        color: black;
        background-color: #7FD8B2;

        &:hover {
            background-color: #65b38f;
        }
    }

    &.white {
        color: black;
        background-color: white;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

#hero {
    position: relative;
    height: 699px;   
    display: flex;       
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    margin-top: 0;

    padding-bottom: 63px;

    color: white;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.63);
    }

    h1 {
        font-size: 75px;
        font-weight: bold;
        margin: 0;
    }

    h2 {
        font-size: 40px;
        font-weight: 400;
    }
}


section{
    margin-top: 60px;
    

    p {
        font-size: 24px;
    }

    .btn{
        &.dark-blue {
            background-color: $dark-blue;
            color: white;
            padding: 7.5px 24.5px;
        }
    }
}

.cards {
    color: white;

    .service-card {
        position: relative;
        display: flex;       
        flex-direction: column;
        overflow: hidden;
        border-radius: 46px;
        height: 404px;
        padding: 33px 20px;

        h3 {
            font-size: 24px;
            font-weight: bold;
        }

        small {
            font-size: 15px;
        }

        .btn{
            margin-top: auto;
            width: 137px;
            font-size: 16px;

        }

    }

    .service-card.gray{
        background-color: $gray;
        color: black;
        small{
            margin-top: auto;
            width: 90%;
        }
    }
    .service-card.dark-blue{
        background-color: $dark-blue;
        small{
            margin-top: auto;
            width: 90%;
        }

        hr {
            background-color: white;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.63);
    }
}

.rounded-card {
    border-radius: 75px;
    background-color: $dark-blue;
    color: white;
    padding: 50px 0;

    h2 {
        font-weight: bold;
        font-size: 48px;
        font-family: 'EuropeExtendedC', sans-serif;
    }

    b{
        font-size: 24px;
        display: block;
    }

    p{
        margin: 0;
    }

    .container > div {
        margin-bottom: 30px;
    }

    .section__header h2::after {
        background-color: white;
    }

    .btn{
        padding: 13.5px 30.5px;

        b{
            font-size: 20px;
        }
    }
}

.cards_container{

    .row {
        margin: 0;
    }

    .btn.dark-blue {
        padding: 13.5px 43.5px;
    }

    .card {
        border-radius: 30px;
        padding: 30px 20px;
        border: none;

        b:first-of-type {
            margin-bottom: 15px;
            display: block;
        }

        b.price {
            margin-top: auto;
            text-align: end;
        }

        p {
            margin: 0;
        }

        small {
            font-size: 15px;
            width: 80%;
            margin-bottom: 50px;
        }

        &.gray {
            background-color: $gray;
        }

        &.white {
            background-color: white;
        }

        &.dark-blue {
            background-color: $dark-blue;
            color: white;

        }
    }
}


.table-comparison {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    td {
        border-radius: 8px;
        vertical-align: top;
        padding: 7px 11px;
    }
    tbody {
        tr {
            background-color: $gray;
        }
    }
    thead {
        tr {
            background-color: $dark-blue;
            color: white;
        }

        th {
            border-radius: 8px;
            padding: 10px 11px;
            font-family: 'EuropeExtendedC', sans-serif;
            white-space: nowrap;
        }
    }

    &.bigger {
        border-spacing: 10px;
        td {
            font-size: 20px;
            padding: 10px 15px;
        }

        thead th {
            font-size: 32px;
            padding: 15px 20px;
        }
    }
}

.faq {
    .accordion-item {
        border: none;
        margin-bottom: 7px;
        font-size: 24px;
        

        svg {
            margin-left: 10px;
        }
    }

    .accordion-item:first-of-type>.accordion-header .accordion-button, .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
        border-radius: 50px;
    }

    .accordion-button::after{
        content: none;
    }

    .accordion-button {
        background-color: $dark-blue;
        font-family: 'Montserrat', sans-serif;
        color: white;
        border-radius: 50px;
        width: 100%;
        text-align: start;
        padding: 16px 27px;
        display: flex;
        align-items: center;
        font-size: 24px;
    }

    .accordion-body {
        background-color: $gray;
        border-radius: 50px;
        padding: 16px 27px;
        color: black;
    }

    .accordion-collapse {
        padding-bottom: 10px;
    }
}


.top-footer {
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    padding: 48px 0;
    h2 {
        font-size: 40px;
        font-family: 'EuropeExtendedC', sans-serif;
        font-weight: bold;
    }

    p {
        font-size: 24px;
    }

    input {
        background-color: $gray;
    }

    small {
        font-size: 16px;
    }

    a{
        color: white;
    }

    img{
        width: 80%;
        object-fit: contain;
    }
}

.bottom-footer {
    background-color: black;
    color: white;
    padding: 30px 0;
    font-size: 12px;
    font-weight: bold;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        max-height: 48px;
    }

    li {
        margin-left: 24px;
    }

}


.solo-page {
    .cards .service-card {
        height: 500px;
    }
}

@media only screen and (max-width: 1199px) {
    #hero {
        h1{
            font-size: 48px;
        }
        h2 {
            font-size: 24px;
        }
    }

    .cards .service-card {
        height: auto;
    }

    .cards_container .card small {
        font-size: 15px;
        width: 80%;
        margin-bottom: 0;
    }


}

@media (max-width: 766px) {
    * {
        overflow: auto;
    }
    ul {
        flex-wrap: wrap;
    }
    
    ul li {
        flex: 1 1 auto;
        margin-bottom: 8px;
    }
    
    h2 {
        font-size: 24px;
    }

    section .section__header h2 {
        font-size: 24px;
    }
    .rounded-card h2 {
        font-size: 24px;
    }

    h1, h2, h3, p {
        max-width: 100%;
        overflow-wrap: break-word;
    }
}

@media (max-width: 576px) {
    * {
        overflow: auto;
    }
    ul {
        flex-wrap: wrap;
    }
    
    ul li {
        flex: 1 1 auto;
        margin-bottom: 8px;
    }
    
    h2 {
        font-size: 24px;
    }

    section .section__header h2 {
        font-size: 24px;
    }
    .rounded-card h2 {
        font-size: 24px;
    }

    h1, h2, h3, p {
        max-width: 100%;
        overflow-wrap: break-word;
    }
}